Write a list comprehension to generate squares of numbers from 1 to 10.

In [1]:
l = [i**2 for i in range(1,11)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Create a list of even numbers between 1 and 50 using list
comprehension.

In [3]:
l = [i for i in range(1,51) if i%2==0]
l

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

3. Convert all strings in a list to uppercase using list comprehension.

In [5]:
s  ="konichiwa"
l = [i.upper() for i in s]
l

['K', 'O', 'N', 'I', 'C', 'H', 'I', 'W', 'A']

4. Given a list of integers, create a new list that contains only the positive
numbers.

In [8]:
l =[ -23,21,45,34,-54]

l1 = [i for i in l if i>=0]
l1

[21, 45, 34]

5. Create a list of tuples (num, num^2) for numbers 1 to 5.

In [3]:
t = [(num,num**2) for num in range(1,6)]
t

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

6. Extract all vowels from a given string using list comprehension.

In [7]:
s = "Arigatto"
l1 = [i for i in s if i in ['a' ,'e' ,'i' ,'o' ,'u']]
l1

['i', 'a', 'o']

7. Flatten a 2D list using list comprehension.

In [8]:
l =[ [1,2,3,4],[5,7,9,9]]

lc = [j for i in l for j in i]
lc

[1, 2, 3, 4, 5, 7, 9, 9]

8. Replace all negative numbers in a list with 0 using list comprehension.

In [9]:
l =[ -23,21,45,34,-54]

l1 = [i if i>=0 else 0 for i in l  ]
l1

[0, 21, 45, 34, 0]

9.  Given a list of words, create a list of lengths of each word.

In [12]:
l = ["KONICHIWA","KAWAII","SUGOEE","NANI"]
l1 = [len(i) for i in l]
l1

[9, 6, 6, 4]

10. Filter out words that start with the letter 'A' or 'a'.

In [13]:
l = ["Arigatto","Amane","NANI","KAWAII"]
l1 = [i for i in l if i[0] in ['A','a']]
l1

['Arigatto', 'Amane']

11. From a list of numbers, generate a list of “even” or “odd” strings using
list comprehension.
(Like → [“even”, “odd”, “odd”, “even”…])

In [14]:
l =[ 23,21,45,34,54]
l1 = ["even" if i%2==0 else 'odd' for i in l]
l1

['odd', 'odd', 'odd', 'even', 'even']

12. Create a list of numbers divisible by both 3 and 5 in range 1–100.

In [16]:
l =[ 23,21,45,34,55,70]
l1 = [i  for i in l if i%3==0 and i%5==0]
l1

[45]

13. Write a nested list comprehension to generate a multiplication table
for 1–5.

In [17]:
n = 5

In [24]:
[(f"{i}*{j}",i*j) for i in range(1,n+1) for j in range(1,11)]

[('1*1', 1),
 ('1*2', 2),
 ('1*3', 3),
 ('1*4', 4),
 ('1*5', 5),
 ('1*6', 6),
 ('1*7', 7),
 ('1*8', 8),
 ('1*9', 9),
 ('1*10', 10),
 ('2*1', 2),
 ('2*2', 4),
 ('2*3', 6),
 ('2*4', 8),
 ('2*5', 10),
 ('2*6', 12),
 ('2*7', 14),
 ('2*8', 16),
 ('2*9', 18),
 ('2*10', 20),
 ('3*1', 3),
 ('3*2', 6),
 ('3*3', 9),
 ('3*4', 12),
 ('3*5', 15),
 ('3*6', 18),
 ('3*7', 21),
 ('3*8', 24),
 ('3*9', 27),
 ('3*10', 30),
 ('4*1', 4),
 ('4*2', 8),
 ('4*3', 12),
 ('4*4', 16),
 ('4*5', 20),
 ('4*6', 24),
 ('4*7', 28),
 ('4*8', 32),
 ('4*9', 36),
 ('4*10', 40),
 ('5*1', 5),
 ('5*2', 10),
 ('5*3', 15),
 ('5*4', 20),
 ('5*5', 25),
 ('5*6', 30),
 ('5*7', 35),
 ('5*8', 40),
 ('5*9', 45),
 ('5*10', 50)]

14. Convert a dictionary’s keys into a list using list comprehension.

In [25]:
d = {'a':1,'b':2,'c':3}
d

{'a': 1, 'b': 2, 'c': 3}

In [26]:
l = [i for i in d]
l

['a', 'b', 'c']

15. Extract numeric digits from a string using list comprehension.

In [34]:
s = "Yuji is 17 yrs old and I'm 23 yrs old"
l = [i for i in s if i.isnumeric() ]
l

['1', '7', '2', '3']

16. Use list comprehension to remove all spaces from a string.

In [39]:
s = "Yuji is 17 yrs old and I'm 23 yrs old"
s = s.split(" ")

In [40]:
s

['Yuji', 'is', '17', 'yrs', 'old', 'and', "I'm", '23', 'yrs', 'old']

In [38]:
s = "Yuji is 17 yrs old and I'm 23 yrs old"
l =[i for i in s if not i.isspace()]
l

['Y',
 'u',
 'j',
 'i',
 'i',
 's',
 '1',
 '7',
 'y',
 'r',
 's',
 'o',
 'l',
 'd',
 'a',
 'n',
 'd',
 'I',
 "'",
 'm',
 '2',
 '3',
 'y',
 'r',
 's',
 'o',
 'l',
 'd']

17. Create a list of characters that appear more than once in a string.

In [115]:
s = "Yuji is 17 yrs old and I'm 23 yrs old"
d= {}

for i in s:
    if i ==" ":
        pass
    elif i in d.keys() :
        d[i]+=1
    else:
        d[i] = 1

l = [j for i,j in d.items() if  j>1]

In [116]:
[j for i,j in d.items() ]

[1, 1, 1, 2, 3, 1, 1, 2, 2, 2, 2, 3, 1, 1, 1, 1, 1, 1, 1]

In [117]:
d

{'Y': 1,
 'u': 1,
 'j': 1,
 'i': 2,
 's': 3,
 '1': 1,
 '7': 1,
 'y': 2,
 'r': 2,
 'o': 2,
 'l': 2,
 'd': 3,
 'a': 1,
 'n': 1,
 'I': 1,
 "'": 1,
 'm': 1,
 '2': 1,
 '3': 1}

In [118]:
l

[2, 3, 2, 2, 2, 2, 3]

18. From a list of sentences, generate a list of all words (split using list
comprehension).

In [119]:
s = ["Sukuna is called the King of curses", "Rika is called the Queen of curses","Yuji is a vessal for Sukuna","Gojo Saturo is the Strongest sorcerer in the Modern Jujutsu World"]

In [125]:
l = [j for i in s for j in i.split()]
l

['Sukuna',
 'is',
 'called',
 'the',
 'King',
 'of',
 'curses',
 'Rika',
 'is',
 'called',
 'the',
 'Queen',
 'of',
 'curses',
 'Yuji',
 'is',
 'a',
 'vessal',
 'for',
 'Sukuna',
 'Gojo',
 'Saturo',
 'is',
 'the',
 'Strongest',
 'sorcerer',
 'in',
 'the',
 'Modern',
 'Jujutsu',
 'World']

19. Create a list of unique elements from a list using list comprehension +
condition.

In [187]:
l =[ 23,21,45,34,54,23,56,23,54,84]

In [189]:
k = []
for i in l:
    if i not in k:
        k.append(i)
    if i in k:
        pass

In [227]:
for i in range(len(l)):
    for j in l:
        if l[i]==j:
            print(l.pop(i))

21
23
84

IndexError: list index out of range

In [206]:
k = []

In [228]:
_ = [i for i in l if i in l ]

In [230]:
k

[21, 34, 23, 84]

22. Generate all pairs (x, y) where x is from list A and y is from list B
(cartesian product).

In [232]:
x = [0,1]
y = [0,1,2]

for i in x:
    for j in y:
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2

In [233]:
cp = [(i,j)  for i in x for j in y]

In [234]:
cp

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

Lambda functions
1. Write a lambda to add two numbers.

In [235]:
add = lambda x,y: x+y

add(1,4)

5

2. Create a lambda to check if a number is even.

In [238]:
oe = lambda x: x%2==0
oe(4)

True

3. Write a lambda to get the last character of a string.

In [242]:
s=  "Shangri-LA"

In [246]:
ls = lambda x: x[-1]
ls("Shangri-LA")

'A'

4. Use lambda with map() to square every number in a list.

In [248]:
sqr =list(map(lambda x: x**2, [1,2,3,4,5]))
sqr

[1, 4, 9, 16, 25]

5. Use lambda with filter() to get only odd numbers from a list.

In [249]:
fo =list(filter(lambda x: x%2!=0, [1,2,3,4,5]))
fo

[1, 3, 5]

6. Use sorted() + lambda to sort a list of tuples by second value.

In [250]:
t = [(1,6),(13,54),(3,6)]

In [252]:
srt = sorted(t,key=lambda x:x[1])

In [253]:
srt

[(1, 6), (3, 6), (13, 54)]

7. Create a lambda to check if a string is a palindrome.

In [254]:
pl = lambda x: x==x[::-1]
pl("NITIN")

True

In [255]:
pl = lambda x: x==x[::-1]
pl("ANIL")

False

8. Use lambda to find maximum of three numbers.

In [257]:
m3 = lambda a,b,c: max(a,b,c)

m3(1,3,2)

3

9. Write a lambda to reverse a string.

In [261]:
rs = lambda x: x[::-1]
rs("")

'aloH'

10. Use lambda with map() to convert a list of strings to integers.

In [302]:
si = list(map(lambda x: int(x) if x.isnumeric() else None,['12','23','456','safdgshfd','sadghgdfh']))

In [304]:
si

[12, 23, 456, None, None]

11. Use lambda with filter() to remove empty strings from a list.

In [4]:
s = ["Sukuna is called the King of curses", "Rika is called the Queen of curses"," ","Yuji is a vessal for Sukuna","Gojo Saturo is the Strongest sorcerer in the Modern Jujutsu World"," "]
s

['Sukuna is called the King of curses',
 'Rika is called the Queen of curses',
 ' ',
 'Yuji is a vessal for Sukuna',
 'Gojo Saturo is the Strongest sorcerer in the Modern Jujutsu World',
 ' ']

In [3]:
ns = list(filter(lambda x: x!=" ", s))
ns

['Sukuna is called the King of curses',
 'Rika is called the Queen of curses',
 'Yuji is a vessal for Sukuna',
 'Gojo Saturo is the Strongest sorcerer in the Modern Jujutsu World']

12. Use lambda to compute factorial using reduce() (yeah, that one-liner
madness).

In [6]:
from functools import reduce

In [22]:
n = 5
x= reduce(lambda x,y: x*y,range(1,n+1))

In [23]:
x

120

13. Write a lambda that returns the larger of two numbers.

In [24]:
l2 = lambda x,y: x if x>y else y

In [26]:
l2(94,56)

94

14. Use lambda to check if number is divisible by 5.

In [29]:
d5 = lambda x: x%5==0

d5(125)

True

15. Use lambda + map() to add 10 to each element of a list.

In [30]:
l =[ 23,21,45,34,54]
a10 = list(map(lambda x:x+10,l))

In [31]:
a10

[33, 31, 55, 44, 64]

16. Use lambda to sort a list of dictionaries by a key (like "age").

In [33]:
d = people = [
    {"name": "Yuji", "age": 25, "city": "Tokyo"},
    {"name": "Nobara", "age": 30, "city": "Chiba"},
    {"name": "Megumi", "age": 22, "city": "Tokyo"}
]


sd = sorted(people, key=lambda x:x['age'])
sd

[{'name': 'Megumi', 'age': 22, 'city': 'Tokyo'},
 {'name': 'Yuji', 'age': 25, 'city': 'Tokyo'},
 {'name': 'Nobara', 'age': 30, 'city': 'Chiba'}]

17. Write a lambda that returns True if a character is a vowel.

In [34]:
v = lambda x: x in ['a','e','i','o','u']

In [35]:
v("w")

False

In [36]:
v('i')

True

18. Use lambda + filter to extract words of length > 5 from a list.

In [37]:
l = ["KONICHIWA","KAWAII","SUGOEE","NANI"]

g5 = list(filter(lambda x: len(x)>5, l))

In [38]:
g5

['KONICHIWA', 'KAWAII', 'SUGOEE']

19. Use lambda to calculate the area of a circle (πr²).

In [39]:
ac = lambda x: 3.14*(x**2)

In [40]:
ac(5)

78.5

20. Write a lambda to remove duplicates from a list using filter + set.

In [ ]:
Cannot solve !!!

In [41]:
l =[ 23,21,45,34,54,23,56,23,54,84]

In [57]:

seen = set()
dl = list(filter(lambda x:not (x in seen or seen.add(x)),l))

In [58]:
dl

[23, 21, 45, 34, 54, 56, 84]

21. Use lambda with reduce() to find the product of all numbers in a list.

In [59]:
pl = reduce(lambda x,y: x*y,l)

In [60]:
pl

5362274798173440

22. Write a lambda that returns absolute value of a number.

In [61]:
ab = lambda x: abs(x)
ab(-34)

34

23. Use lambda to sort a list of strings by their length.

In [63]:
l = ["KONICHIWA","KAWAII","SUGOEE","NANI"]

In [64]:
sorted(l,key=lambda x: len(x))

['NANI', 'KAWAII', 'SUGOEE', 'KONICHIWA']

24. Use lambda to get only uppercase characters from a string.

In [84]:
l = "Konichiwa KAWAII sugoeee NANI"

In [98]:
ul = list(filter(lambda x: x.isupper() ,l))

In [99]:
ul

['K', 'K', 'A', 'W', 'A', 'I', 'I', 'N', 'A', 'N', 'I']

25. Write a lambda that returns the square if number is even, cube if odd.

In [104]:
sc = lambda x: x**2 if x%2==0 else x**3
sc(9)

729

26. Use lambda with map to convert Celsius to Fahrenheit.

In [105]:
cf = lambda x: (x* 9/5) + 32

In [110]:
cf(45)

113.0

27. Write a lambda to check if two strings are anagrams.

In [111]:
ana = lambda x,y: set(x)==set(y)

In [113]:
ana('silent','listen')

True

In [114]:
ana('cat','act')

True

In [116]:
ana("anas","sana")

True

28. Use lambda to extract only numeric values from a mixed list.

In [120]:
l = [1,"KONICHIWA",456,768,6,"NANI",{'name':'Yuji'}]

In [121]:
list(filter(lambda x:type(x)==int,l))

[1, 456, 768, 6]

29. Use lambda inside any() to check if any list element is negative.

In [130]:
l =[ -23,21,45,34,-54]
neg = lambda x: x<0

any(map(neg,l))

True

30. Use lambda to generate a function that multiplies any number by n

In [131]:
func = lambda x,n: x*n

In [132]:
n = 456
func(43,n)

19608

In [133]:
def myfunc(n):
    return lambda x:x*n

In [134]:
funcc=  myfunc(45)

In [135]:
funcc(324)

14580