In [42]:
# 1.	If  name = ''' Hi How are you?
# Starterd learning python.
# It's really interesting.''' Then what is the output of following code
# •	name[:] 
# •	name[-10:-5]
# •	name[3:12]
# •	name[12:3]
# •	name[5,6]
# •	name[-4:-12]
# •	name[::2]
# •	name[::-2]

In [43]:
name = ''' Hi How are you?
Starterd learning python.
It's really interesting.'''

In [5]:
name

" Hi How are you?\nStarterd learning python.\nIt's really interesting."

In [6]:
name[:]

" Hi How are you?\nStarterd learning python.\nIt's really interesting."

In [7]:
name[-10:-5]

'teres'

In [8]:
name[3:12]

' How are '

In [12]:
name[12:3]

''

In [11]:
name[12:3:-1]

'y era woH'

In [14]:
name[5,6]

TypeError: string indices must be integers, not 'tuple'

In [15]:
name[-4:-12]

''

In [16]:
name[::2]

' iHwaeyu\ntredlann yhn\ntsral neetn.'

In [18]:
name[::-2]

'.nteen larst\nnhy nnaldert\nuyeawHi '

In [45]:
# 2.
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [20]:
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [21]:
L1[::3]

['a', 30, 300, 'major']

In [22]:

L1[::-2]

['major', 400, 100, 30, 'b']

In [23]:
# d.	How to extract  value “Happy” based on index and negative index
L1[L1.index('Happy')]

'Happy'

In [26]:
L1[8]

'Happy'

In [27]:
L1[-2]

'Happy'

In [30]:
# e.	How to check type of data in list at 4th position

type(L1[4])

str

In [31]:
L1

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [33]:
# f.	Extract values for 100, 300, 400 
L1[5:8]

[100, 300, 400]

In [44]:
# 3. l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success'] 
# then what is the output of following
# •	L2[4]
# •	L2[1:5]
# •	L2[7]
# •	L2[7][2]
# •	L7[7][2:]
# •	L2[ : 3]
# •	L2[3:]

In [43]:
l2[3: ]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [47]:
# 4.	From the above l2 value 'b' must be changed to 'BEE'.
l2[4][1] = 'BEE'

In [48]:
l2

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [ ]:
# 5.	From l2 “BEE” has to discard.
l2[4].remove('BEE')

In [51]:
l2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [52]:
# 6.	In l2 add a dictionary at the end {'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']}
l2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})

In [53]:
l2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [62]:
l2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [63]:
# 7.	From l2 extract insect information.
l2[-1]['insect']

['bee', 'moth']

In [64]:
# 8.	Create a dictionary d1 = {'a':10, 'b':20, 'c' : 30} and add the d1 at 2nd position of l2
d1 = {'a':10, 'b':20, 'c' : 30}

In [65]:
l2.insert(2,d1)

In [67]:
l2

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [68]:
l2

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [69]:
# 9.	Based on new l2 created here extract the value 10 from l2 dictionary.
l2[2]['a']

10

In [ ]:
# 10.	If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following
# •	L2[4][2]
# •	L2[5][:]
# •	L2[2] [:]
# •	L2[1:5]
# •	L2[5]
# •	L2[5][3:-1]
# •	L2[-1]
# •	L2[-4, -3]
# •	L2[-4: -10]
# •	L2[7][2]
# •	L7[-7][[2:]
# •	L2[ :- 3]
# •	L2[-3:]

In [48]:
#10.
L2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300, '“Hundreds')] 
L2

[1,
 2,
 3,
 5,
 (90, 40, 50, 10),
 'Python',
 400,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 (200, 300, '“Hundreds')]

In [62]:
L2[4][2]

50

In [61]:
L2[5][:]

'Python'

In [64]:
L2[2][:]

TypeError: 'int' object is not subscriptable

In [58]:
L2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [57]:
L2[5]

'Python'

In [56]:
L2[5][3:-1]

'ho'

In [55]:
L2[-1]

(200, 300, '“Hundreds')

In [54]:
L2[-4, -3]

TypeError: list indices must be integers or slices, not tuple

In [53]:
L2[-4: -10]

[]

In [52]:
L2[7][2]

'work hard'

In [51]:
L2[-7][[2:]

SyntaxError: invalid syntax (1103245883.py, line 1)

In [65]:
L2[ :- 3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [66]:
L2[-3:]

[200, 'Success', (200, 300, '“Hundreds')]

In [3]:
# 11.	Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1 
l1 = [1,2]
l3 = list(range(0,8))
l3.insert(4,l1)
print(l3)

[0, 1, 2, 3, [1, 2], 4, 5, 6, 7]

12.	Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.

In [4]:
collection = [1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
for i in range(len(collection)):
    if type(collection[i]) in [int,float]:
        collection[i] = i*5

In [5]:
# •	From the collection delete the record for “Nisha” 
print(collection)
collection.pop(collection.index("Nisha"))
print(collection)

[0, 5, 10, ['a', 'b', 'c'], 20, 'Nisha', 30, 35]
[0, 5, 10, ['a', 'b', 'c'], 20, 30, 35]

In [6]:
# •	Find the location of 20.50*5 = 30
print(collection.index(30))

5

In [31]:
# 13.	Create a comprehensive list for square upto 10

In [7]:
l1 = [i**2 for i in range(0,11)]
print(l1)
# 14.	Create the comprehensive list to find number divisible by 13 till 200
l2 = [i for i in range(0,201)  if i%13==0]
print(l2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

15.	Create the list which is divisible by 4 from 300 to 400

In [8]:
l3 = [i for i in range(300,400)  if i%4==0]
print(l3)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396]

16.	Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be         x_list = [0,1,2] and y=2 then y_list =[0,1] Then generate a new list based on all combination of x and y.
For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1]
And output will be [[0,0],[0,1]]

If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [10]:
x= 2
y = 2
x_l = [i for i in range(0,x)]
y_l = [i for i in range(0,y)]
new_list =[[i,j] for i in x_l for j in y_l]
print(new_list)

[[0, 0], [0, 1], [1, 0], [1, 1]]

17.	 What is the difference between add and update methods in set?

In [ ]:
s= {1,2,3}
s.add(5) # adds single values
s.update({4}) # add values from an iterable
print(s)

18.	What is the difference between append and extend methods in list?

In [ ]:
l = [1,3,3,57,44]
l.append(10) # add one element
l.extend([12,3,4,5])  # add values from an iterable
print(l)

19.	What is the difference between pop and remove methods?

In [ ]:
# l.pop() # removes items from a specific index
# l.remove() # remove items based on the item

20.	What is the difference between discard, pop, remove methods?

In [ ]:
d = {2,23,56,3}
d.discard(2) # removes items based on the item
print(d)

21.	How to create empty set?

In [ ]:
s = set()

22.	Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.

In [32]:
s1 = {1,3,46,7}
s2 = {1,3,65,57}

In [33]:
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 65, 3, 7, 46, 57}
{1, 3}
{46, 7}
{65, 7, 46, 57}

In [ ]:
# 23.	Create l2 as a list and perform set operation on s1 with l1

In [34]:
l2 =[1,2,3,5,6,8]
print(s1.union(l2))
print(s1.intersection(l2))

{1, 2, 3, 5, 6, 7, 8, 46}
{1, 3}

24.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

25.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978

In [17]:
name = input("Enter your name \n")
dob = input("Enter your Date of Birth format(ddmmyyyy)\n").replace(" ",'')
# print(name)
print(dob)
dob_format = ''
if name.isalpha():
    if len(dob)==8 and dob.isnumeric():
        dob_format +=dob[:2]+'-'+dob[2:4]+"-"+dob[4:] 
    else:
        print("Enter date in this format (ddmmyyyy) ")
else:
    print("enter proper date")
print(name)
print(dob_format)
pas = name[:4].upper()+dob[-4:]
print(pas)

Enter your name
 Hexi
Enter your Date of Birth format(ddmmyyyy)
 12122024

12122024
Hexi
12-12-2024
HEXI2024

26.	Create the format mentioned here.

In [35]:
# *
# * *
# * * *
# * * * *
n = 4
for i in range(1,n+1):
    print('*'*i)

*
**
***
****

27.	Create the format as mentioned below:

In [19]:
# ****
# ***
# **
# *
n=4
for i in range(n+1,0,-1):
    print('*'*i)

*****
****
***
**
*

28.	Str_val = “ABCD” then create the format as mentioned below:
   
A

A B

A B C

A B C D

In [36]:
str_val = 'ABCD'
l = ''
for i in str_val:
    l+=i
    print(l)

A
AB
ABC
ABCD

29.	Create the format mentioned below:

 A

 BB
 
 CCC
 
 DDDD

In [37]:
for i in range(0,len(str_val)):
    print(str_val[i]*(i+1))

A
BB
CCC
DDDD

30.	Create the format mentioned below:

1

22

333

4444

In [38]:
n = 4
for i in range(1,n+1):
    print(str(i)*(i))

1
22
333
4444

31.	Val = “ABCD”  based on the Val, create the format mentioned below

D

DC

DCB

DCBA

In [40]:
l = ''
for i in str_val[::-1]:
    l+=i
    print(l)

D
DC
DCB
DCBA

32.	Ask user to enter the string. If string is UPGRAD then output must be

D

DA

DAR

DARG

DARGP

DARGPU

User may pass any string.

In [26]:
s = "KONICHIWA"
l = ''
for i in s[::-1]:
    l+=i
    print(l)
    # print(i)

A
AW
AWI
AWIH
AWIHC
AWIHCI
AWIHCIN
AWIHCINO
AWIHCINOK

33.	Create a list of odd numbers from 1 to 10
1.	Using for loop
2.	Using comprehensive list

In [27]:
l = [i for i in range(1,11) if i%2!=0]
print(l)

[1, 3, 5, 7, 9]

34.	Create even number list using for loop from 200 to 250

In [29]:
l = [i for i in range(200,251) if i%2==0]
print(l)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

35.	List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
Multiply each and every element by 2 and display the answer

In [41]:
List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
l3=  []
print(List2)
for i in range(len(List2)):
    if type(List2[i]) in [int,float,str]:
        l3.append(List2[i]*2)
    elif type(List2[i]) in(list,tuple,dict):
        for _ in range(2):
            l3.append(List2[i])
print(l3)

[2, 70, 'work', 'para', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5]
[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3], [1, 2, 3], (1, 2), (1, 2), {1: 'a', 2: 'b'}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

36.	List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

Multiply each and every element from list2 by 2 and store the answer in list3

In [70]:
List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

In [71]:
l3=  []
print(List2)
for i in range(len(List2)):
    if type(List2[i]) in [int,float,str]:
        l3.append(List2[i]*2)
    elif type(List2[i]) in(list,tuple,dict):
        for _ in range(2):
            l3.append(List2[i])
print(l3)

[2, 70, 'work', 'para', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5]
[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3], [1, 2, 3], (1, 2), (1, 2), {1: 'a', 2: 'b'}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

37.	Create a function to accept marks from user utilize exception concept to validate proper marks.

In [116]:
def val_marks(marks):
    if (not marks.isalpha() and not marks.isalnum()) or marks.isdigit():
        marks = float(marks)
        if marks >100 or marks <0:
            print("Enter marks Between 0-100")
        else:
            return marks
        
    else: 
        return" Wrong format"

In [123]:
mrks = input("Enter marks")
val_marks(mrks)

Enter marks 132er

' Wrong format'

In [120]:
mrks = input("Enter marks")
val_marks(mrks)

Enter marks ythgxg33455t

' Wrong format'

In [121]:
mrks = input("Enter marks")
val_marks(mrks)

Enter marks 54

54.0

In [113]:
mrks = input("Enter marks")
val_marks(mrks)

Enter marks 12.54

'12.54'

In [124]:
# 38.Create a function to validate user first name/last name. User first name/last name should contain only characters
# . No special characters, numbers, space in name 


def val_user(name):
    if name.isalpha():
        return name
    else: 
        return" Wrong format"


name=  val_user("HEXI132456")
print(name)

 Wrong format

40.	Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.

In [17]:
name = input("Enter your name \n")
dob = input("Enter your Date of Birth format(ddmmyyyy)\n").replace(" ",'')
# print(name)
print(dob)
dob_format = ''
if name.isalpha():
    if len(dob)==8 and dob.isnumeric():
        dob_format +=dob[:2]+'-'+dob[2:4]+"-"+dob[4:] 
    else:
        print("Enter date in this format (ddmmyyyy) ")
else:
    print("enter proper date")
print(name)
print(dob_format)
pas = name[:4].upper()+dob[-4:]
print(pas)

Enter your name
 Hexi
Enter your Date of Birth format(ddmmyyyy)
 12122024

12122024
Hexi
12-12-2024
HEXI2024

In [126]:
 # 41.	Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
# For example:
# d=  {1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"},2:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},3:{name : "Sumedh", "DOB": "02-022002" , "mobile": "1234123433"}}

In [81]:
len(d)

3

In [104]:
def user_dict(**kwargs):
    return kwargs


n =3
print()
i=0
d = {}
while i<n:
    name = input("Enter your name \n")
    dob = input("Enter your Date of Birth use format->(dd-mm-yyyy)\n")
    mob = input("Enter your Mobile Number\n")
    print({len(d)+1:user_dict(name=name,dob=dob,mob=mob)})
    d.update({(len(d)+1):user_dict(name=name,dob=dob,mob=mob)})
    i+=1

print(d)

Enter your name
 a
Enter your Date of Birth use format->(dd-mm-yyyy)
 a
Enter your Mobile Number
 a

{1: {'name': 'a', 'dob': 'a', 'mob': 'a'}}

Enter your name
 a
Enter your Date of Birth use format->(dd-mm-yyyy)
 a
Enter your Mobile Number
 a

{2: {'name': 'a', 'dob': 'a', 'mob': 'a'}}

Enter your name
 a
Enter your Date of Birth use format->(dd-mm-yyyy)
 a
Enter your Mobile Number
 a

{3: {'name': 'a', 'dob': 'a', 'mob': 'a'}}
{1: {'name': 'a', 'dob': 'a', 'mob': 'a'}, 2: {'name': 'a', 'dob': 'a', 'mob': 'a'}, 3: {'name': 'a', 'dob': 'a', 'mob': 'a'}}

In [105]:
# 42.	Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log
import os

In [117]:
file = 'cust_info.txt'
if not os.path.isfile(file):
    with open(file,'w') as f:
        f.write(str(d))
else:
    with open(file,'a') as f:
        f.write(str(d)

In [119]:
with open(file,'r') as f:
    data = f.read()

data

"{1: {'name': 'a', 'dob': 'a', 'mob': 'a'}, 2: {'name': 'a', 'dob': 'a', 'mob': 'a'}, 3: {'name': 'a', 'dob': 'a', 'mob': 'a'}}"

In [125]:
import json
file = 'cust_info.log'
if not os.path.isfile(file):
    with open(file,'w') as f:
        json.dump(d,f)
else:
    with open(file,'a') as f:
        json.dump(d,f)

In [ ]:
# 45.	
Dict1= {'Key': {'subkey':20} ,  'k2':{'sub2' : 5}, 'k3' : {'sub4' :16},  'k4' : {'sub4' : 6}}
# Sort elements based on values
# Output must be {,  'k2':{'sub2' : 5}, 'k4' : {'sub4' : 6},  'k3' : {'sub4' : 16}, 'Key':{'subkey':20}}

How its done[https://chatgpt.com/c/698597e3-90c0-8322-93e2-80dfdf7acbef]

In [200]:


for i in Dict1.items():
    print(type(i),[i[1].values()][0])

<class 'tuple'> dict_values([20])
<class 'tuple'> dict_values([5])
<class 'tuple'> dict_values([16])
<class 'tuple'> dict_values([6])

In [205]:
sorted(Dict1.items(),key=lambda x: list(x[1].values())[0])

[('k2', {'sub2': 5}),
 ('k4', {'sub4': 6}),
 ('k3', {'sub4': 16}),
 ('Key', {'subkey': 20})]

In [208]:
# 46.	Create a function to calculate age till now.

def age_calc(yob):
    return 2026-yob
print(age_calc(2002))

24

47.	Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age

In [213]:
def CalcAge(dob,eligibility=18):
    try:
        dd = date(dob[0],dob[1],dob[2])
        cd= datetime.now()
        if ((cd.year-dob[0])>eligibility) or ((cd.year-dob[0])==eligibility and dob[1]==cd.month and dob[2]<= cd.day) or ((cd.year-dob[0])==18 and dob[1]<cd.month):
            print(cd.date())
            print(dd)
            print("You are Eligible")
        else:
            print("AGE CRITERIA NOT MATCH")
    except:
        print(Age_EXCEPTION)

In [214]:
dob = tuple(map(int,input("Enter DOB in YYYY-MM-DD: ").split("-")))
CalcAge(dob)

Enter DOB in YYYY-MM-DD:  2005-1-10

2026-02-09
2005-01-10
You are Eligible

In [188]:
dob

(2005, 1, 10)

48.	Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is same then it is palindrome. If input is ANIL then reverse is LINA which is not same then it is not palindrome.

In [128]:
def checkPalindrome(s):
    if s ==s[::-1]:
        print("This String is Palindrome")
    else:
        print("This String is not a Palindrome")

In [129]:
s = 'NITIN'
checkPalindrome(s)

This String is Palindrome

In [130]:
s = 'ANIL'
checkPalindrome(s)

This String is not a Palindrome

49.	Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 …..  upto 100

In [142]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

In [144]:
fibonacci(100)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026

In [145]:
# 50.	Write a code to generate factorial of the number  For example: factorial of 5 = 5! = 5*4*3*2*1

In [152]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact*=i
    print(f"Factorial of {n} is: {fact}")

In [153]:
factorial(5)

Factorial of 5 is: 120

51.	Write a program to find largest number in the list

In [165]:
def find_max(l):
    max = 0
    for i in l:
        if i > max:
            max = i
    return max

In [167]:
l = [64,56,14,59,85,6,2435]

In [168]:
find_max(l)

2435

52.	Write a program to check frequency of each element in the list.

In [177]:
def check_freq(l):
    d = {}
    for i in l:
        if i in d.keys():
            d[i]+=1
        else:
            d[i] = 1
    return d

In [178]:
l = [6,64,56,14,59,85,6]
check_freq(l)

{6: 2, 64: 1, 56: 1, 14: 1, 59: 1, 85: 1}

53.	There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.

In [181]:
l1 =[ 1,2,3,4,5]
l2 =[3,2,8,7,9]

In [186]:
cmn =list(set(l1).intersection(set(l2)))

In [187]:
cmn

[2, 3]

In [ ]:
54.	Create 3 tables  in mysql having the columns as mentioned
1) user : uid, mobile, passkey, date
2) Product : pid, pname
3) Order : oid, uid, pid

Based on the OOPs concept create classes, methods, attributes and insert information

In [ ]:
class Mother:
    mothername = ""

    def mother(self):
        print(self.mothername)

class Father:
    fathername = ""

    def father(self):
        print(self.fathername)


class Son(Mother, Father):
    def __init__(self,sonname):
        self.sonname = sonname
    def family(self):
        print("Father :", self.fathername)
        print("Mother :", self.mothername)
        print("Son :", self.sonname)

In [188]:
s1 = Son("Yuji")
s1.fathername = "Jin"
s1.mothername = "Kenjaku"
s1.family()

Father : Jin
Mother : Kenjaku
Son : Yuji

56.	Build a function to print bill. Generate the bill as mentioned below.

In [211]:
def print_bill(receipt):
    t_cost= 0        
    print('-'*60)
    print("|{:^56}{:>4s}".format("Welcome to FOODIES","|"))
    print("|",' '*57,"|")
    print("|",'-'*57,"|")
    print("|{:<5s} {:28s} {:>9s} {:>10s}{:>5s}".format("sr","Food","quant","price","|"))
    for e,i in enumerate(receipt):
        print("|{:<5} {:28s} {:>9} {:>8.2f} {:>6s}".format(e+1,receipt[i]['food'],receipt[i]['quantity'],receipt[i]['price'],"|"))
        t_cost+= d[i]['quantity']*d[i]['price']
    print('|','-'*57,"|")
    print("|{:>19s} {:>36.2f} {:>3}".format("Total Cost",t_cost,"|"))
    print('|','-'*57,"|")

In [214]:
d = {1: {'food': 'Butter Chicken', 'quantity': 2, 'price': 350}, 2: {'food': 'Mutton Rogan Josh', 'quantity': 2, 'price': 525}, 3: {'food': 'Prawns Masala', 'quantity': 2, 'price': 480}}

In [215]:
print_bill(d)

------------------------------------------------------------
|                   Welcome to FOODIES                      |
|                                                           |
| --------------------------------------------------------- |
|sr    Food                             quant      price    |
|1     Butter Chicken                       2   350.00      |
|2     Mutton Rogan Josh                    2   525.00      |
|3     Prawns Masala                        2   480.00      |
| --------------------------------------------------------- |
|         Total Cost                              2710.00   |
| --------------------------------------------------------- |

------------------
# THANK YOU❤️